body {
background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBCu0zyWY7gh7CBrdJnVdD2hp8NqkeVoB9LEKiSFlnNZdXVqhi");
background-size: cover;
background-repeat: no-repeat;
}
.songs {
  background-color: light-blue;
  font-family: "Times NewRoman", Times, serif;
}
.songTitle {
  width: fit-content;
}
.card {
  height: 200px;
  width: 400px;
  overflow: scroll;
  border: 2px solid blue;
  margin: 5px;
  border-radius: 10px;
  opacity: 0;
}
#top {
  height: 200px;
  width: cover;
}
